@CHARSET "ISO-8859-1";

.munsi_logo
{
	font-weight:normal;
	color:#666;
	letter-spacing:1pt;
	word-spacing:-14pt;
	font-size:23px;
	font-family:Segoe UI;
	line-height:1;
	margin:0px;
	padding:0px;
}
/* 
#sidebar::content{
	background-image: url("../images/AS-watermark.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 200px 150px;
}
 */
 
 .navbar {
	border:1px solid #ccc;
 	background:#EFEFEF;
 }
 
 .ace-nav>li>a {
background-color: #FFB752;
}

.editCls {
	background-color: #FFFF90 !important;
}
